In [15]:
import pandas as pd
import numpy as np

In [3]:
pd.DataFrame({'A': [1, 2, 3]})

   A
0  1
1  2
2  3

In [5]:
a = 1

In [7]:
a

1

In [17]:
s = pd.Series([1, 3, 5, np.nan, 6, 8])

In [19]:
s

0    1.0
1    3.0
2    5.0
3    NaN
4    6.0
5    8.0
dtype: float64

In [21]:
a = [1 , 3, 5, np.nan, 6, 8]

In [23]:
a

[1, 3, 5, nan, 6, 8]

In [27]:
a[1]

3

In [29]:
s

0    1.0
1    3.0
2    5.0
3    NaN
4    6.0
5    8.0
dtype: float64

In [31]:
s[1]

3.0

In [33]:
s[4]

6.0

In [109]:
dates = pd.date_range("20240101", periods=13, freq='MS')

In [111]:
dates

DatetimeIndex(['2024-01-01', '2024-02-01', '2024-03-01', '2024-04-01',
               '2024-05-01', '2024-06-01', '2024-07-01', '2024-08-01',
               '2024-09-01', '2024-10-01', '2024-11-01', '2024-12-01',
               '2025-01-01'],
              dtype='datetime64[ns]', freq='MS')

In [113]:
df = pd.DataFrame(np.random.randn(13, 2), index=dates, columns=list("AB"))

In [115]:
df

                   A         B
2024-01-01  0.395594  1.331464
2024-02-01  0.727643 -0.467173
2024-03-01  1.622516 -0.755598
2024-04-01  0.863953  0.259588
2024-05-01 -0.029360 -1.201620
2024-06-01 -1.318304  0.366655
2024-07-01  1.132357 -0.961167
2024-08-01  0.080149  1.232065
2024-09-01 -0.623065 -0.955074
2024-10-01  1.895651  0.111266
2024-11-01 -2.431265  2.064233
2024-12-01 -0.054974 -0.112033
2025-01-01 -0.372094 -0.102590

In [73]:
np.random.randn(13, 1)

array([[ 0.94749883],
       [-1.05747058],
       [ 0.66178484],
       [ 0.65552405],
       [ 0.73073037],
       [ 0.19333447],
       [-0.98917691],
       [-1.27199657],
       [ 0.30549114],
       [ 0.59290314],
       [-0.98492858],
       [ 1.02286796],
       [ 0.15972004]])

In [117]:
np.array([3] * 4, dtype="int32")

array([3, 3, 3, 3], dtype=int32)

In [119]:
pd.Series(1, index=list(range(4)), dtype="float32")

0    1.0
1    1.0
2    1.0
3    1.0
dtype: float32

In [123]:
np.array([[1],[2]],[[3],[4]])

TypeError: Field elements must be 2- or 3-tuples, got '[3]'