In [ ]:
import pandas as pd
import numpy as np

In [2]:
df=pd.read_csv('datos.csv')

In [3]:
df['Compra']=df['Compra'].str.replace(',','.').astype(float)

In [4]:
df['Venta']=df['Venta'].str.replace(',','.').astype(float)

In [5]:
df.rename(columns={'Sueldo ': 'Sueldo'}, inplace=True)

In [6]:
df['Sueldo']=df['Sueldo']

In [7]:
dolar=df.iloc[:,0:3]

In [8]:
dolar['Fecha']=pd.to_datetime(dolar['Fecha'], dayfirst=True)

In [9]:
dolar=dolar.set_index('Fecha')

In [10]:
dolar['DiaD']=dolar.index.day

In [11]:
dolar['Med']=((dolar['Compra']+dolar['Venta'])/2)

In [12]:
dolar['Med']=dolar['Med'].round(0)

In [13]:
dolar=dolar.groupby(dolar.index.to_period('M')).first()

In [15]:
sueldo=df.iloc[:,3:5]

In [16]:
sueldo.columns=['Fecha','Sueldo']

In [17]:
sueldo=sueldo.set_index('Fecha').dropna()

In [18]:
sueldo.index=pd.to_datetime(sueldo.index, dayfirst=True)

In [19]:
sueldo['DiaS']=sueldo.index.day

In [20]:
sueldo.index=sueldo.index.to_period('M')

In [22]:
df2=pd.concat([dolar,sueldo], axis=1)

In [23]:
df2=df2.groupby(df2.index).first().dropna()

In [24]:
df2['Real']=(df2['Sueldo']/df2['Med']).round(1)

In [25]:
df2['Sueldo']=df2['Sueldo'].astype(int)

In [26]:
df2['DiaS']=df2['DiaS'].astype(int)

In [27]:
df2['Hoy']=(df2['Real']*1250).round(1).astype(int)

In [28]:
df2['Sueldo']=(df2['Sueldo']).astype(int)

In [29]:
df2.to_csv('datos2.csv')

In [30]:
df2

         Compra   Venta  DiaD     Med  Sueldo  DiaS   Real      Hoy
Fecha
2021-08   176.5   181.5    31   179.0   96000    31  536.3   670375
2021-09   182.0   186.0    30   184.0   96000    29  521.7   652125
2021-10   193.5   197.5    29   196.0   96000    29  489.8   612250
2021-11   197.5   201.5    30   200.0   96000    30  480.0   600000
2021-12   204.0   208.0    30   206.0   96000    30  466.0   582500
2022-01   209.0   213.0    31   211.0   96000    31  455.0   568750
2022-02   207.0   211.0    25   209.0   96000    25  459.3   574125
2022-03   196.0   200.0    31   198.0   96000    31  484.8   606000
2022-04   196.5   200.5    29   198.0  126720    29  640.0   800000
2022-05   201.0   206.0    31   204.0  126720    31  621.2   776500
2022-06   234.0   238.0    30   236.0  126720    30  536.9   671125
2022-07   286.0   296.0    29   291.0  126720    29  435.5   544375
2022-08   285.0   290.0    31   288.0  126720    31  440.0   550000
2022-09   284.0   288.0    30   286.0  126720    29  443.1   553875
2022-10   286.0   290.0    31   288.0  164736    31  572.0   715000
2022-11   310.0   314.0    30   312.0  164736    30  528.0   660000
2022-12   342.0   346.0    30   344.0  164736    29  478.9   598625
2023-01   379.0   383.0    31   381.0  227920    31  598.2   747750
2023-02   373.0   377.0    28   375.0  205920    28  549.1   686375
2023-03   388.0   393.0    31   390.0  205920    31  528.0   660000
2023-04   462.0   467.0    27   464.0  235810    28  508.2   635250
2023-05   485.0   490.0    31   488.0  236810    31  485.3   606625
2023-06   489.0   494.0    30   492.0  272330    30  553.5   691875
2023-07   545.0   550.0    31   548.0  272330    31  497.0   621250
2023-08   725.0   735.0    31   730.0  417793    31  572.3   715375
2023-09   790.0   800.0    29   795.0  413400    29  520.0   650000
2023-10   870.0   920.0    31   895.0  413400    31  461.9   577375
2023-11   855.0   905.0    30   880.0  530000    30  602.3   752875
2023-12   975.0  1025.0    29  1000.0  530000    29  530.0   662500
2024-01  1145.0  1195.0    31  1170.0  530000    31  453.0   566250
2024-02  1000.0  1030.0    29  1015.0  530000    29  522.2   652750
2024-03   980.0  1010.0    27   995.0  689000    27  692.5   865625
2024-04  1010.0  1040.0    30  1025.0  821500    30  801.5  1001875
2024-05  1195.0  1225.0    31  1210.0  821500    31  678.9   848625
2024-06  1335.0  1365.0    28  1350.0  821500    28  608.5   760625
2024-07  1340.0  1370.0    31  1355.0  821500    31  606.3   757875
2024-08  1275.0  1305.0    30  1290.0  954000    30  739.5   924375