In [1]:
import pandas as pd
import numpy as np

In [2]:
dolar_hoy=1260

In [3]:
datos=pd.read_csv('datos.csv')

In [4]:
sueldo=datos.iloc[:,3:5].dropna()

In [5]:
sueldo=sueldo.rename(columns={'Fecha.1': 'Fecha','Sueldo ': 'Sueldo'})

In [6]:
sueldo['Fecha']=pd.to_datetime(sueldo['Fecha'], dayfirst=True)

In [7]:
sueldo=sueldo.set_index('Fecha')

In [8]:
sueldo['DiaS']=sueldo.index.day

In [9]:
sueldo=sueldo.to_period('M')

In [10]:
dolar=datos.iloc[:,0:3]

In [11]:
dolar=dolar.set_index('Fecha')

In [12]:
dolar.index=pd.to_datetime(dolar.index, dayfirst=True)

In [13]:
dolar=dolar.sort_index(ascending=True)

In [14]:
dolar['Compra'] = dolar['Compra'].str.replace(',', '.').astype(float)

In [15]:
dolar['Venta'] = dolar['Venta'].str.replace(',', '.').astype(float)

In [16]:
dolar['DMed'] = ((dolar['Compra'] + dolar['Venta']) / 2).round(1)

In [17]:
dolar['DiaD'] = dolar.index.day

In [18]:
dolar = dolar.groupby(dolar.index.to_period('M')).last()

In [19]:
df = pd.concat([dolar,sueldo], axis=1).dropna()

In [20]:
df['DiaS'] = df['DiaS'].astype(int)

In [21]:
df['Real'] = ( df['Sueldo'] / df['DMed'] ).round(1)

In [26]:
df['Hoy'] = (df['Real'] * dolar_hoy).round(1)

In [28]:
df.head(4)

         Compra  Venta   DMed  DiaD   Sueldo  DiaS   Real       Hoy
Fecha
2021-08   177.0  182.0  179.5    31  96000.0    31  534.8  673848.0
2021-09   182.0  186.0  184.0    30  96000.0    29  521.7  657342.0
2021-10   193.5  197.5  195.5    29  96000.0    29  491.0  618660.0
2021-11   197.5  201.5  199.5    30  96000.0    30  481.2  606312.0

In [30]:
df.to_csv('datos-procesados.csv')